ol {
  margin-left: 0;
}


ol li ol li ol {
  list-style: lower-alpha;
}

ol.decimal {
  list-style: decimal;
}

ol.alpha {
  list-style: lower-alpha;
}

ol li ol.sub li ol {
  list-style: decimal;
}

.sections ol {
  list-style: none;
}

/**

ol.freedom-list li ol {
  list-style: decimal;
}


**/

/*
.sections {
  text-align: center;
}
*/

/**
// From https://developer.mozilla.org/en-US/docs/CSS/Counters
// Does not work for what we're trying to do. It hides the style type
// and prepends a value to the content. We want to replace the style
// type with a decimal value.
ol {
  counter-reset: section;
  list-style-type: none;
}
li:before {
  counter-increment: section;
  content: counters(section, ".") " ";
}
**/
